#go-top{
	position: fixed;
	bottom: 28px;
	right: 10px;
	cursor: pointer;
	display: none;
	width: 80px;
	height: 23px;
	background: #c0c0c0;
	border-radius: 5px;
	padding-left: 20px;

}
#go-top:hover{
	background-color: grey;

}
/* в навигацыи  добавил id="home"*/