footer{
	/*background-color: grey;*/
	height: 20rem;
}
.border{
border: 1px solid blue!important;
}
.dib{
	display: inline-block;
}
.foot_mar_left{
	margin-left: 3rem;
}
.fot_connection{
border: 	1px solid red!important;
}
.foot_number{
	color: black;
	font-size: 1em;

}
.foot_number:hover{
	/*color: black;*/
}
.foot_name{
	font-size: 1.2em;
	font-weight: bold;
}