@media screen and (max-width: 1150px) {
  .margin_l_80 {
	margin-left: 8rem!important;
  }
  .navbar{
  	font-size: 1.15em;
  }
}
@media screen and (max-width: 1008px) {
  .margin_l_80{
	margin-left: 6.5rem!important;
  }
  @media screen and (max-width: 990px) {
  .margin_l_80{
  margin-left: 5.5rem!important;
  }
  @media screen and (max-width: 790px) {
  .margin_l_80{
  margin-left: 4.6rem!important;
  }

   @media screen and (max-width: 776px) {
  .hid{
  display: none;
  }
  .vis_foto{
    display: block;
  }
}