.thumbnail{
	/*margin: -13px!important;*/
	margin-right: 1px!important;
}

  @media screen and (max-width: 790px) {
  .new_widht{
  	/*width: 6rem!important;*/
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	/*height: 6rem;*/
  	width: 30rem;
  	margin-top: 2rem;
  }
  .new_widht_but{
  	height: 3.5rem;
  }

 }
.new_widht{
margin-top: 1rem!important;
padding: 0.5em; 
}
.new_mar_top{
	margin-top: 1rem;
	/*margin-bottom: 1rem!important;*/
}
 @media screen and (max-width: 992px){
	.new_mar_top_m{
		margin-top: 1.4rem;
		
	}
	.border{
		border: 1px solid red!important;
	}
	.news_f_z{
		font-size: 2em!important;
	}
}
.news_f_z{
	font-size: 3em;
}
 @media screen and (max-width: 776px){
 	.news_f_z{
 		font-size: 1.5em!important;
 	}
 }
  @media screen and (max-width: 350px){
 	.new_widht{
 		width: 15rem!important;
 	}
 }
   @media screen and (max-width: 185px){
 	.new_widht{
 		width: 11rem!important;
 	}
 }
 /*for hover img big*/
 .gradual_increase{
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }

 
.gradual_increase:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }